.applicant-profile {
    font-size: 250px;
}

.applicant-list {
    font-size: 100px;

}
.applicant-list:hover{
    text-shadow: 2px 2px 6px #333333;
}

.checkbox-left {
    width: 10%;
    text-align: left;
}

.text-pink {
    color: deeppink;
}

.applicant-options {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
.applicant-edit {
    font-size: 20px;
}
.applicant-edit:hover {
    /*color: white;*/
    text-shadow: 2px 2px 6px #333333;
}


.applicant-remove {
    font-size: 20px;
}

.applicant-remove:hover {
    color: red;
    text-shadow: 2px 2px 6px #333333;
}
